{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'posts/question_list_item_template.html' %}
{% include 'posts/questions_list_template.html' %}

<h2> Tag: {{ object.tag }} </h2>

<questions-list-component params="{ tag: '{{ object.tag }}' }"/>


<script language="javascript" type="text/javascript" src="{% static '/js/trimTextBinding.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static '/js/question.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static '/js/questionsList.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static '/js/main.js' %}"></script>


{% endblock content %}